<div class="modal fade" id="modal-game" tabindex="-1" role="dialog" aria-labelledby="modal-game-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-game-label">Start New Game</h5>
                <button #closeModal type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">

                  <form #form="ngForm" (submit)="onSubmit()">
                    <div class="form-group">
                      <label for="players">Players</label>
                      <select
                        [(ngModel)]="game.players"
                        name="players" id="players" class="form-control" required multiple>
                          <ng-container *ngFor="let teamPlayer of player.team.players">
                            <option *ngIf="player.id !== teamPlayer.id" [ngValue]="teamPlayer.id">{{ teamPlayer.name }}</option>
                          </ng-container>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="initStake">Initial Stake</label>
                      <input
                        [(ngModel)]="game.init_stake"
                        [ngClass]="{'is-invalid': initStake.errors && initStake.touched}"
                        #initStake="ngModel"
                        name="init_stake" id="initStake" type="number" class="form-control" required>
                      <div class="invalid-feedback">
                        Input a number
                      </div>
                    </div>
                    <button [disabled]="form.invalid" class="btn btn-outline-dark btn-block mt-5">Submit</button>
                  </form>

                </div>
              </div>
            </div>
        </div>
    </div>
</div>
