<div class="row justify-content-center mt-1">
{% if games %}
    {% for game in games %}
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mt-3">
        <div class="card card-bookie">
            <div class="card-body">
                <h4 class="card-title text-center">
                    <a class="default-link" href="{% url 'game' pk=game.pk %}">{{ game.created|date:"d.m.y" }}</a>
                </h4>
                <p class="text-center">
                    {% for result in game.gameresult_set.all %}
                        {% if game.best_result.player == result.player %}
                            <span title="{{ result.profit }}" data-toggle="tooltip" data-placement="top"
                                  class="font-weight-bold text-danger">{{ result.player }}</span>{% if not forloop.last %},{% endif %}
                        {% else %}
                            <span title="{{ result.profit }}" data-toggle="tooltip"
                                  data-placement="top">{{ result.player }}</span>{% if not forloop.last %},{% endif %}
                        {% endif %}
                    {% endfor %}
                </p>
                <hr>
                <div class="row">
                    <div class="col">Combination:</div>
                    <div class="col">
                        <span title="{{ game.best_combination.winner }}" data-toggle="tooltip" data-placement="top">
                            {{ game.best_combination.get_combination_display | default_if_none:"" }}
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">Winning:</div>
                    <div class="col">
                        <span title="{{ game.best_winning.winner }}" data-toggle="tooltip" data-placement="top">
                            {{ game.best_winning.winning }}
                        </span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">Rounds:</div>
                    <div class="col">{{ game.get_rounds }}</div>
                </div>
                <div class="row">
                    <div class="col">Duration:</div>
                    <div class="col">{{ game.created|date:"H:i" }} - {{ game.finished|date:"H:i" }}</div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}

{% endif %}
</div>