<table class="table table-sm text-left mt-3">
    <thead class="thead-default">
    <tr>
        <th>Date</th>
        <th>Winner</th>
        <th>Profit</th>
        <th>Players</th>
    </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{{ game.created|date:"d.m.y" }}</td>
            <td>{{ game.best_result.player }}</td>
            <td>{{ game.best_result.profit }}</td>
            <td>{% for p in game.players.all %}
                {% if forloop.last %}{{ p }}{% else %}{{ p }}, {% endif %}{% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>