<table class="table table-sm text-left mt-3">
    <thead class="thead-default">
    <tr>
        <th>Player</th>
        <th>Total</th>
        <th>Win</th>
        <th>Rebuy</th>
    </tr>
    </thead>
    <tbody>
        {% for s in stats %}
        <tr>
            <td>{{ s.username }}</td>
            <td>{% if s.wins or s.rebuys %}{{ s.total }}{% endif %}</td>
            <td>{% if s.wins %}x{{ s.wins }} ({{ s.win_total|default_if_none:"" }}){% endif %}</td>
            <td>{% if s.rebuys %}x{{ s.rebuys }} ({{ s.rebuy_total|default_if_none:"" }}){% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>