<table class="table table-sm text-left mt-3">
    <thead class="thead-default">
    <tr>
        <th>№</th>
        <th>Player</th>
        <th>Stake</th>
        <th>Combination</th>
    </tr>
    </thead>
    <tbody>
        {% for w in winners %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ w.player.user.first_name }}</td>
            <td>{{ w.win }}</td>
            <td>{{ w.get_combination_display|default_if_none:"" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
