{% extends 'base.html' %}
{% load static %}


{% block navbar %}

    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mt-3">
        <button class="btn btn-dark btn btn-block" data-toggle="modal" data-target="#modal-rebuy">Add Rebuy</button>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mt-3">
        <button class="btn btn-dark btn btn-block" data-toggle="modal" data-target="#modal-round">Finish Round</button>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 mt-3 mb-3">
        <button class="btn btn-danger btn btn-block" data-toggle="modal" data-target="#modal-game">Finish Game</button>
    </div>

{% endblock navbar %}


{% block content %}

    {% if current_round > 1 %}
        <div class="col-xl-4 col-lg-6 col-md-12 mt-3">
            <h3>Round Winners</h3>
            {% include "game/winners_table.html" %}
        </div>
        <div class="col-xl-4 offset-lg-1 col-lg-6 col-md-12 mt-3">
            <h3>Statistics</h3>
            {% include "game/stats_table.html" %}
        </div>
    {% else %}
        <div class="jumbotron mt-5">
            <h4>Finish at least one round to get statistics</h4>
        </div>
    {% endif %}

    {% include "current_game/round_form.html" %}
    {% include "current_game/rebuy_form.html" %}
    {% include "current_game/game_form.html" %}

{% endblock content %}
