{% extends 'base.html' %}
{% load static %}


{% block navbar %}

    <div class="col-3 mt-3">
        <p class="lead">This game was played {{ object.created|date:"d.m.y" }}</p>
    </div>

{% endblock navbar %}


{% block content %}

    <div class="col-xl-4 col-lg-6 col-md-12 mt-3">
        <h3>Round Winners</h3>
        {% include "game/winners_table.html" %}
    </div>
    <div class="col-xl-4 offset-lg-1 col-lg-6 col-md-12 mt-3">
        <h3>Statistics</h3>
        {% include "game/stats_table.html" %}
    </div>

{% endblock content %}
